.navbar .navbar-nav .nav-link,
.navbar .navbar-brand,
.nav-item,
.nav-item *,
.link-label {
    color: green;
    border: none;
}

.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:active,
.navbar .navbar-nav .nav-link:hover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.05) 100%);
    border: none;
}

.navbar {
    border: none;
}

.dropdown .dropdown-menu {
    background: rgba(233, 236, 239, 0.8);
    border-color: rgba(0, 0, 0, 0.2);
}

.dropdown .dropdown-menu .dropdown-item {
    color: green;
}

.dropdown .dropdown-menu .dropdown-item:hover,
.dropdown .dropdown-menu .dropdown-item:focus,
.dropdown .dropdown-menu .dropdown-item:active {
    background: rgba(0, 0, 0, 0.05);
}

.link-label {
    display: block;
}


.link {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
